.no-label label {
    display: none;
}
.sonderwunsch label {
    display: none;
}
.sonderwunsch [data-krajee-datetimepicker] {
    width: 100px;
}
.sonderwunsch .input-group.date {
    width: 200px;
}